@import '../../../styles/imports/generalImports';

// =====================
// Variáveis
// =====================
$tamanho-barra-desktop: 10vh;
$tamanho-barra-mobile: 7vh;
$cor-botao: #fdd835;
$cor-botao-hover: #fff176;
$cor-texto-botao: #2f2f2f;
$padding-botao: 0.5rem 1.2rem;
$radius-botao: 8px;
$gap-botoes: 1rem;
$padding-botoes: 1rem 2rem;
$tamanho-pfp-desktop: 7vh;
$tamanho-pfp-mobile: 5vh;
$tamanho-img-pfp: 4.5vh;
@font-face {
  font-family: 'CodecPro';
  src: url('../../assets/fonts/CodecPro.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


// ===================== 
// Estilos
// =====================
.app-bar {
  @include fixedHeight($tamanho-barra-desktop);
  @include fixedWidth(100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  .app-bar-background {
    @include fixedHeight($tamanho-barra-desktop);
    @include fixedWidth(100%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
    z-index: 0;
  }

  .app-bar-home-button {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }

  h1 {
    font-family: 'CodecPro', sans-serif;
    font-size: 1.5rem;
    position: relative;
    text-align: left;
    z-index: 1;
  }

  .app-bar-site-icon {
    position: relative;
    z-index: 1;
    height: 100%;
  }

  .app-bar-site-title {
    position: relative;
    z-index: 1;
    height: 100%;
  }

  .app-bar-buttons {
    height: 100%;
    width: -webkit-fill-available;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $gap-botoes; 
    padding-right: $gap-botoes;
    z-index: 1;

    .app-bar-button {
      background-color: $cor-botao;
      color: $cor-texto-botao;
      border: none;
      padding: $padding-botao;
      font-weight: bold;
      border-radius: $radius-botao;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $cor-botao-hover;
      }
    }

    .pfp-container {
      @include fixedHeight($tamanho-pfp-desktop);
      @include fixedWidth($tamanho-pfp-desktop);
      @include flexCenter();
      border-radius: 100%;
      background-color: var(--tokenDarkGray);

      .profile-picture {
        @include fixedHeight($tamanho-img-pfp);
        @include fixedWidth($tamanho-img-pfp);
        border-radius: 100%;
      }
    }
  }
}

// =====================
// Responsividade
// =====================
@media screen and (max-width: 600px) {
  .app-bar {
    @include fixedHeight($tamanho-barra-mobile);

    .app-bar-background {
      @include fixedHeight($tamanho-barra-mobile);
    }

    .app-bar-buttons {
      .pfp-container {
        @include fixedHeight($tamanho-pfp-mobile);
        @include fixedWidth($tamanho-pfp-mobile);
        @include flexCenter();
        border-radius: 100%;
        background-color: var(--tokenDarkGray);

        .profile-picture {
          @include fixedHeight($tamanho-img-pfp);
          @include fixedWidth($tamanho-img-pfp);
          border-radius: 100%;
        }
      }
    }
  }
}
